<footer id="footer">
  <div class="wrapper">
    <p>
      <a href="http://www.doremus.org/">About</a> |
      <a href="https://github.com/D2KLab/music-chatbot">GitHub</a>
    </p>
    <p class="sponsors">
      <a href="https://www.eurecom.fr/" target="_blank"><img src="img/eurecom-logo.png" height="60" alt="EURECOM" title="EURECOM"></a>
    </p>
  </div>
</footer>
