<header id="header">
  <div class="wrapper hero">
    <h1><a href="//{{base_url}}">DOREMUS Bot</a></h1>
    <h2 class="subtitle">
      Intelligent Assistant for Classical Music based on the DOREMUS Knowledge Graph
    </h2>
  </div>
</header>
